.card {
  background-color: beige;
  color: black;
  height: 18rem;
  width: 36rem;
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.easy {
  background-color: lightgreen;
}

.medium {
  background-color: rgb(251, 251, 112);
}

.hard {
  background-color: lightcoral;
}

.front, .back {
  font-size: 2.2rem;
}