.card {
  background-color: beige;
  color: black;
  height: 18rem;
  width: 36rem;
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.easy {
  background-color: lightgreen;
}

.medium {
  background-color: rgb(251, 251, 112);
}

.hard {
  background-color: lightcoral;
}