#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  font-weight: bolder;
}

.description {
  font-size: 1.2rem;
  font-weight: bold;
}

.num {
  font-size: 1rem;
  font-style: italic;
}
